.loginlink {
    text-decoration: none;
    cursor: pointer;
    color: #bf0404;
    padding-left: 30%;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}

.what {
    padding-left: 25%;
    font-size: 30px;
}

.loginlogo {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 25%;
}

.loginbutton {

}