.loginlink {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    display: block;
    margin: 45px 25px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    text-align: center;
}

.what {
    text-align: center;
    font-size: 19px;
    position: relative;
    top: -40px;
}

.loginlogo {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 25%;
}
