.userscores {    
    border-left: 3px solid #333;
    padding-left: 7px;
    margin-left: 15px;
}

.userscores li {
    list-style: none;
    white-space: nowrap;
    overflow: visible;
}

.game-block {
    text-align: center;
}
.game-block h1 {
    font-size: 5em;
    font-family: "Sawarabi Mincho"; 
}